/*  your css code here. If applicable */
#card{
	width:400px;
	padding:20px;
	background-color:white;
	box-shadow:0 4px 10px rgba(0,0,0,0.2);
}
#img{
	width:35%;
}
#btn{
	background-color:red;
	color:white;
	border-radius:10px;
	padding:7px;
}